{% extends "papa/base.html" %}


{% block content %}
{%include 'papa/nav.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Student Form</h1> 

<form method="POST">{% csrf_token %}
    <table>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>Emp code</td>
            <td>:</td>
            <td>{{ form.identityNumber }}</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>:</td>
            <td>{{ form.department }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>:</td>
            <td>{{ form.address }}</td>
        </tr>
        <tr>
            <td>Position</td>
            <td>:</td>
            <td>{{ form.position }}</td>
        </tr>
       
<tr>
            <td>country</td>
            <td>:</td>
            <td>{{ form.mobile }}</td>
        </tr>
        
     



        <tr>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>

{% endblock content %}

</html>
