{% extends 'ems/home.html' %}
{% block body %}

<h4 align="center" class="mt-5">EMS Dashboard</h4><hr>

<style>
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid lightblue;
  border-radius: 5px;
}

</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<br>
<center>
<div class="container" style="margin-top:10%;height:150px;width:80%">
    <div class="row" style="height:90%">
        <div class="col-md-6" style="border:1px solid gray">
            <a href="#"><h1>Total Employee</h1>
            <h2 style="color:blue">{{total_employee}}</h2>
			<hr class="rounded"></a>
        </div>

        <div class="col-md-6" style="border:1px solid gray">
           <a href="#"><h1>Total Employee on leave</h1>
            <h2 style="color:blue">{{on_leave}}</h2>
			<hr class="rounded"></a>
        </div>

        
    </div>
</div>
    </center>

	
	
	
	
	


{% endblock  %}
