{% extends "ts/base.html" %}

{%load static%}
  
{%block content %}

    

{% if all_client %}
    <table class="table table-hover">
    <table class="table table-bordered">
		<tr>
			<th>Client ID</th>
			<th>Name</th>
			<th>Email Id</th>
            <th>Contact Number</th>
		</tr>
    {% for client in all_client %}
        <tr>
            <th>{{ client.id }}</th>
            <th>{{ client.name }}</th>
            <th><a href="mailto:{{ client.email_id }}">{{ client.email_id }}</a></th>
            <th>{{ client.contact_number }}</th>
        </tr>
    {% endfor %}
    	</table>
    </table>
{% else %}
    <h1>No records found</h1>
{% endif %}







    <script src="{% static "medicine/css/jquery.min.js.download"%}"></script>
    <script src="{% static "medicine/css/bootstrap.min.js.download"%}"></script>
    <script src="{% static "medicine/css/ie10-viewport-bug-workaround.js.download"%}"></script>
  
{%endblock content %}
</body>
</html>
